/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* RESETS */

html, head, body, h1, h2, h3, h4, a, img, span, div,
form, input, button,
header, footer, main, section, article, menu, menuitem {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
}

ul {
  list-style: none;
}

a {
	text-decoration: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="submit"] {
  -webkit-appearance: none;
  display: inline-block;
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  width: auto;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
  color: inherit;
}

input[type="submit"] {
  display: inline;
  cursor: pointer;
}

/* CLEAR FIX */

.group:after {
	content: "";
	display: block;
	clear: both;
}


/* STYLES */


h1 {
	font-size: 40px;
	padding: 20px;
}

h2 {
	font-size: 30px;
	padding: 10px;
}