<div class="large-container">
	<ul class="group">
		<li ng-repeat="collection in collections">
			<h1>{{collection.title}}</h1>
			<p>{{collection.content}}</p>
		</li>
		
		<li class="new">
			<h2>+ Create a New Collection</h2>
		</li>
	</ul>
</div>
	