<div cla  ="large-container">
  <ul cla  ="group">
    <li ng-repeat="collection in collection ">
      <h1>{{collection.title}}</h1>
      <p>{{collection.content}}</p>
      </li>

    <li cla  ="new">
      <h2>+ Create a New Collection</h2>
    </li>
  </ul>
</div>
