<main>
  <section>
    <h2>{{ collection.name }}</h2>
    <p>{{ collection.description }}</p>
  </section>

  <section>
    <div>
      <form>
        <label>Title
          <input type="text"
                 name="plot-title">
        </label>
        <label>Notes
          <textarea></textarea>
        </label>
        <button>Plot</button>
        <input type="submit" value="Save">
      </form>
    </div>
    <div>
      <div>
      </div>
    </div>
  </section>

  <section>
    <a href="">
      + Create a new plot
    </a>
  </section>
</main>
