<div class="large-container">
  <ul class="group">
    <li ng-repeat="project in projects">
      <h1>{{project.title}}</h1>
      <p>{{project.content}}</p>
      </li>

    <li class="new">
      <h2>+ Create a New Project</h2>
    </li>
  </ul>
</div>
